.zsw-input {
  height: $searchInput-height;
  width: $searchInput-width;
  position: relative;
  border-radius: $searchInput-radius;
  margin-top: ($height-inner-height - $searchInput-height) / 2;
  background: rgba(0, 0, 0, 0.2);

  input {
    border: none;
    outline: none;
    color: white;
    height: 100%;
    background: transparent;
    width: $searchInput-width - 16px;
    padding: 0 10px;
    font-size: $searchInput-font-size;
    position: relative;

    &::-webkit-input-placeholder {
      color: rgba($color: white, $alpha: 0.7);
    }
  }

  .suffix-icon {
    position: absolute;
    right: 0.5rem;
    top: ($searchInput-height - 1.5rem) / 2;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
}
