.playlist {
  position: fixed;
  top: 56px;
  left: 200px;
  height: 821px;
  right: 0;
  z-index: 1001;
  background-color: snow;
  overflow-y: scroll;
  @extend %scroll-bar;

  &.hidden {
    display: none;
  }
}

.playlist-top {
  overflow: hidden;
  display: flex;
  position: relative;
  padding: 30px;

  .cover-image {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
    }
    margin-right: 30px;
  }

  .right {
    font-size: 1rem;
    color: #838B8B;
    position: absolute;
    right: 30px;
  }

  .collapse {
    position: absolute;
    right: 30px;
    bottom: 0;
    font-size: .8rem;
    color: #ccc;
    cursor: pointer;

    &:hover {
      color: #aaa7a7;
    }
  }

  .playlist-detail {
    .playlist-detail-panel-1 {
      font-size: 1.3rem;
      overflow: hidden;

      .tag {
        display: inline-block;
        background-color: $theme-color;
        color: white;
        font-size: .8rem;
        width: 40px;
        height: 25px;
        vertical-align: 2px;
        line-height: 25px;
        text-align: center;
        border-radius: 3px;
        margin-right: 10px;
      }
      
      .content {
        display: inline-block;
        height: 40px;
      }
    }

    .playlist-detail-panel-2 {
      display: flex;
      align-items: center;
      margin-top: 15px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }

      .nickname {
        margin: 0 5px;
        margin-right: 10px;
      }
    }

    .playlist-detail-panel-3 {
      margin-top: 15px;
      .btn {
        display: inline-block;
        border: 1px solid #ccc;
        margin-right: 10px;
        padding: 3px 10px;
        background-color: white;
        border-radius: 5px;
        font-size: .8rem;
        cursor: pointer;
        .anticon {
          margin-right: 5px;
          font-size: 1rem;
        }
        &:hover {
          background-color: snow;
        }
      }
    }
    
    .playlist-detail-panel-4 {
      font-size: .8rem;
      margin-top: 15px;
      span {
        color: #40a9ff;
        cursor: pointer;
        margin: 0 5px;
        &:hover {
          color: #096dd9;
        }
      }
    }

    .playlist-detail-panel-5 {
      white-space: pre-wrap;
      font-size: .8rem;
      line-height: 2;
      &.collapsed {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80px;
        overflow: hidden;
      }
    }
  }
}