.zsw-singer-detail {
  position: absolute;
  z-index: 1002;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;

  &.hidden {
    display: none;
  }
  > div {
    background-color: white;
  }

  .zsw-singer-detail-top {
    padding: 25px 30px;
    overflow: hidden;
    margin-bottom: 50px;

    > div {
      float: left; 
    }
    .zsw-singer-detail-top-img {
      width: 202px;
      height: 202px;
      background-position: center;
      border: 1px solid #ccc;
    }
    .zsw-singer-detail-info {
      margin-left: 30px;
      > p {
        margin: 0;
        padding: 0;
      }
      .zsw-singer-detail-info-panel-1 {
        font-size: 1.3rem;
        margin-bottom: 20px;
        .zsw-singer-detail-info-panel-1-tag {
          padding: 5px 7px;
          background-color: $theme-color;
          font-size: .8rem;
          border-radius: 3px;
          color: white;
          margin-right: 10px;
        }
        .zsw-singer-detail-info-panel-1-name {
          letter-spacing: 2px;
          color: rgba($color: #000000, $alpha: .8);
        }
      }
      .zsw-singer-detail-info-panel-2, 
      .zsw-singer-detail-info-panel-3 {
        font-size: .9rem;
        > .iconfont {
          font-size: .9rem;
          &::before {
            font-size: 1.1rem;
            margin-right: 3px;
          }
          color: rgba($color: #000000, $alpha: .8);
          margin-right: 5px;
        }
      }
    }
    .zsw-singer-detail-top-btn {
      float: right;
      font-size: .9rem;
      overflow: hidden;
      color: rgba($color: #000000, $alpha: .7);
      padding: 3px 7px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: rgba($color: #000000, $alpha: 8);
        background-color: rgba($color: #ccc, $alpha: .3);
      }
      >.anticon {
        font-size: 1.2rem;
        float: left;
        margin-right: 3px;
      }
    }
  }

  > .playlist-info-nav {
    li {
      padding: 6px 25px;
    }
  }

  .zsw-singer-detail-content {
    padding: 20px 30px;
  }

  .zsw-singer-album {
    display: none;
    &.show {
      display: block;
    }
    .zsw-singer-album-detail {
    overflow: hidden;
    margin-bottom: 30px;
    .zsw-singer-album-detail-right {
      float: left;
      width: calc(100% - 200px);
      .zsw-singer-album-detail-title {
        font-size: .9rem;
        margin-bottom: 10px;
      }
      .zsw-singer-album-detail-content {
        border: 1px solid #ccc;
        &.top50 {
          height: 300px;
          overflow: hidden;
    
          &.expand {
            overflow: visible;
            height: auto;
          }
        }
        
        > .zsw-singer-album-loading {
          text-align: center;
          font-size: .8rem;
          color: rgba($color: #000000, $alpha: .6);
          >.anticon {
            font-size: 1rem;
            margin-right: 10px;
            color: $theme-color;
          }
        }
      }
      .zsw-singer-album-detail-expand-btn {
        font-size: .8rem;
        padding: 10px 0 0 5px;
        cursor: pointer;
        display: inline-block;
        color: rgba($color: #000000, $alpha: .7);
  
        &:hover {
          color: rgba($color: #000000, $alpha: .9);
        }
      }
    }
    .zsw-singer-album-detail-left {
      float: left;
      width: 150px;
      margin-right: 50px;
      height: 150px;
      box-shadow: 1px 1px 8px 2px rgba($color: #000000, $alpha: .7);
      img {
        width: 100%;
      }
    }
  }
  }
  
  .zsw-singer-info {
    display: none;
    &.show {
      display: block;
    }
    > .zsw-singer-info-item {
      >.title {
        font-weight: bold;
      }
      >.content {
        text-indent: 2rem;
      }
    }
  }

  .zsw-singer-album-item {
    padding: 5px 10px;
    height: 30px;
    display: flex;
    width: 100%;
    font-size: .9rem;
    align-items: center;
    > * {
      user-select: none;
    }
    .zsw-singer-album-item-index {
      color: rgba($color: #000, $alpha: .7);
      width: 30px;
      >.play {
        color: $theme-color;
      }
      >.pause {
        color: rgba($color: $theme-color, $alpha: .4);
      }
    }
    > .anticon {
      width: 30px;
      cursor: pointer;
      color: rgba($color: #000, $alpha: .5);

      &:hover {
        color: rgba($color: #000, $alpha: .9);
      }
    }
    .zsw-singer-album-item-text {
      width: 80%;
      >.zsw-singer-album-item-name {
        padding-left: 10px;
      }
      >.zsw-singer-album-item-alia {
        color: #ccc;
        margin-left: 20px;
      }
    }
    .zsw-singer-album-item-duration {
      color: rgba($color: #000000, $alpha: .5);
    }
    &:nth-child(even) {
      background-color: rgba($color: #ccc, $alpha: .2);
    }
    &:hover, &.selected {
      background-color: rgba($color: #ccc, $alpha: .4);
    }
  }

  .zsw-singer-mvs {
    display: none;
    &.show {
      display: block;
    }
    >.zsw-singer-mvs-loading {
      text-align: center;
    }
    .zsw-singer-mv-item {
      width: 160px;
      height: 150px;
      display: inline-block;
      cursor: pointer;
      margin: 0 20px;
      >div {
        position: relative;
        height: 90px;
        background-color: rgba($color: $theme-color, $alpha: .4);
        >img {
          width: 100%;
        }
        >.duration, >.play-count {
          position: absolute;
          color: white;
          font-size: .9rem;
        }
        >.play-count {
          right: 5px;
          top: 0px;
          >.anticon {
            margin-right: 3px;
          }
        }
        >.duration {
          left: 5px;
          bottom: 0;
        }
      }
      >p {
        margin: 0;
        padding: 0;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .zsw-simi-singers {
    display: none;
    &.show {
      display: block;
    }
    .zsw-simi-singer-item {
      cursor: pointer;
      display: inline-block;
      width: 122px;
      height: 150px;
      margin: 0 15px;
      >div {
        height: 122px;
        >img {
          width: 100%;
        }
        border: 1px solid #ccc;
      }
      > p {
        text-align: center;
        font-size: .9rem;
      }
    }
  }
}